.product_bg {
    margin-top: 100px;
    min-height: 500px;
}

.box-center {
    width: 300px;
    margin: auto;
    padding: 10px;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}