/****************************************************************
 *																*		
 * 						      代码库							*
 *                        www.dmaku.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
@charset "utf-8";

html, body, ul, li { margin: 0; padding: 6px; line-height: 1.2em;}
br {line-height:8px; margin:0px;}

h1, h2, ul, li, p { margin: 0; padding: 0; }
html, body { font-size: 0.625em/1.5em; background:#f2f2f2; }
a {color:#1c769a; text-decoration:none; font-size:1.1em;}
a{text-decoration:none;}

h2 {font-size:1.3em;text-align:center;color:#414141;margin-bottom:0px; padding:0px;}
h3 {font-size:0.8em;text-align:center;color:#8f8f8f;margin-top:3px; padding-top:0px;}
h3 a { color:#747474;}

@media screen and (min-width: 768px) {
#content-menu {padding:10px;border:solid 10px #F2F2F2;background:#ffffff;font-size:20px;margin:0 auto;overflow:hidden;}
#content-menu h1 {font-family:Arial, Helvetica, sans-serif;font-size:18px; color:#535353;}
#content-menu img {padding:5px;background:#f7f7f7;border:solid 1px #464646;margin:2px;}

}

@media screen and (max-width: 768px) {
#content-menu {padding:10px;border:solid 5px #F2F2F2;background:#ffffff;font-size:15px;margin:0 auto;overflow:hidden;}
#content-menu h1 {font-family:Arial, Helvetica, sans-serif;font-size:13px; color:#535353;}
#content-menu img {padding:5px;background:#f7f7f7;border:solid 1px #464646;margin:2px;}
}
